<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>swift</string>
	<key>Builder Version</key>
	<string>7534.52.7</string>
	<key>CFBundleDisplayName</key>
	<string>vimlike</string>
	<key>CFBundleIdentifier</key>
	<string>net.blackhail.vimlike</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3</string>
	<key>CFBundleVersion</key>
	<string>1.3</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>vimlike.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>vimlike.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Add vim-like key bindings to Safari</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://raw.github.com/sfowler/vimlike-extended/master/vimlike-extended.safariextz</string>
	<key>Website</key>
	<string>https://github.com/sfowler/vimlike-extended</string>
</dict>
</plist>
